:root {
  --header-text: #2196f3;
  --happy-text: #212121;
  --number-text: #757575;
  --title-color: #fff;
  --background-color: #2f303a;
  --gmail-text: rgba(255, 255, 255, 0.6);
  --background-text: #f5f4fa;
  --logo-color: #000;
  --team-backraund: #F5F4FA;
}
body {
  font-family: "Roboto";
}
.header{
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-logo {
  color: var(--header-text);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header-color {
  color: var(--logo-color);
}

.display-link{
display: flex;
align-items: center;
}
.navigation-list{
display: flex;
gap: 50px;
}
.header-list{
  display: flex;
  gap: 50px;
}
.navigation-link {
  color: var(--happy-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.navigation-link:hover {
  color: var(--header-text);
}
.header-link {
  color: var(--number-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-link:hover {
  color: var(--header-text);
}








.geroy {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/comands.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.geroy-title {
   color: var(--title-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.geroy-button {
  color: var(--background-text);
  background-color: #2196f3;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
} 






.perevag{
  padding-top: 94px;
  padding-top: 94px;
}
.perevag-list{
   display: flex;
   gap: 30px;
}
.perevag-item::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
  margin-bottom: 30px;
  background-image: url(../img/antenna.png);
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: 70px;
}
.perevag-item:nth-child(2)::before {
  background-image: url(../img/clock.png); 
}

.perevag-item:nth-child(3)::before {
  background-image: url(../img/diagram.jpg); 
}

.perevag-item:nth-child(4)::before {
  background-image: url(../img/astronaut.png); 
}
.perevag-caption {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.perevag-description {
  color: var(--additional-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.header-navigation{
  margin-right: 344px;
  margin-left: 93px;
}





.zams{
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.zams-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.zams-list{
  display: flex;
  gap: 30px;
} 





.container {
  outline: 1px solid red;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.comands{
  background-color: var(--team-backraund);
  padding-top: 94px;
  padding-bottom: 94px;
}
.comands-item{
  border-radius: 0px 0px 4px 4px;
}
.comands-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.comands-box{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}
.comands-subtitle{
color: var(--happy-text);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
margin-bottom: 10px;

}
.comands-text{
color: var(--number-text);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
.comands-list{
  display: flex;
  gap: 30px;
}
.comands-img{
  width: 270px;
  height: 260px; 
  
}




.footer{
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo{
    font-family: "Raleway";
color: var(--header-text);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  display: inline-block;
  margin-bottom: 20px;
}
.footer-color{
    color: var(--title-color);
}

.address-link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
  display: inline-block;
  
}
.footer-item:first-child{
  margin-bottom: 9px;
}
.footer-link{
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
}
.footer-adres{
  font-style: normal;
}




/* portfolio           portfolio             portfolio */ */








.card{
  padding-top: 94px;
  padding-bottom: 94px; 
}
.button-list{
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 56px;
}
.header-item {
    display: flex;
   
    justify-content: center;
    gap: 8px;
}
.button-btn{
  width: 125px;
  height: 38px;
  color:var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;
  border: none;
}











.gero-list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gero-box{
  padding: 20px  24px;
  color: var(--background-text);
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.48px;
}
.geroy-text {
  color: var(--number-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
.geroy-item  {
  color: var(--background-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62x;
  /* 162.5% */
  outline: 1px solid red;
  letter-spacing: 0.48px;
  flex-basis: calc((100% - 60%) /3 );
  
}

.gero-title {
  color: var(--happy-text);

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.gero-text {
  color: var(--number-text);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
