:root {
  --header-text: #2196f3;
  --happy-text: #212121;
  --number-text: #757575;
  --title-color: #fff;
  --background-color: #2f303a;
  --gmail-text: rgba(255, 255, 255, 0.6);
  --background-text: #f5f4fa;
  --logo-color: #000;
}
body {
  font-family: "Roboto";
}
.header{
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-logo {
  color: var(--header-text);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header-color {
  color: var(--logo-color);
}
.display-link{
display: flex;
align-items: center;
}
.navigation-list{
display: flex;
gap: 50px;
margin-right: 344px;
}
.header-list{
  display: flex;
  gap: 50px;
}
.navigation-link {
  color: var(--happy-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.navigation-link:hover {
  color: var(--header-text);
}
.header-link {
  color: var(--number-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-link:hover {
  color: var(--header-text);
}








.geroy {
  background-color: var(--footer-background);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.geroy-title {
  color: var(--main-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.geroy-button {
  color: var(--background-text);
  background-color: #2196f3;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
}
.perevag-list{
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 270px;
  gap: 10px;
}
.perevag-caption {
  color: var(--background-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.perevag-description {
  color: var(--number-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.zams-title {
  color: var(--background-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
}
.container {
  outline: 1px solid red;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.comands-title {
  color: var(--background-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
}
.comands-subtitle {
  color: var(--background-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
.comands-text {
  color: var(--number-text);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
.footer{
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo{
    font-family: "Raleway";
color: var(--header-text);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer-color{
    color: var(--title-color);
}
.footer-item {
  color: var(--background-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.address-link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer-link{
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
}
.header-item {
  color: var(--header-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.28px;
}
.geroy-title {
  color: var(--background-text);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.48px;
}
.geroy-text {
  color: var(--number-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  /* 187.5% */
  letter-spacing: 0.48px;
}
.geroy-item  {
  color: var(--background-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62x;
  /* 162.5% */
  letter-spacing: 0.48px;
}

.gero-title {
  color: var(--happy-text);

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.gero-text {
  color: var(--number-text);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
